<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.suimu.system.mapper.NavClassifyMapper">
    
    <resultMap type="NavClassify" id="NavClassifyResult">
        <result property="id"    column="id"    />
        <result property="namespaceId"    column="namespace_id"    />
        <result property="name"    column="name"    />
        <result property="icon"    column="icon"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNavClassifyVo">
        select id, namespace_id, name, icon, sort_num, remark from nnav_classify
    </sql>

    <select id="selectNavClassifyList" parameterType="NavClassify" resultMap="NavClassifyResult">
        <include refid="selectNavClassifyVo"/>
        <where>  
            <if test="namespaceId != null "> and namespace_id = #{namespaceId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="sortNum != null "> and sort_num = #{sortNum}</if>
        </where>
    </select>
    
    <select id="selectNavClassifyById" parameterType="Long" resultMap="NavClassifyResult">
        <include refid="selectNavClassifyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNavClassify" parameterType="NavClassify">
        insert into nnav_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="namespaceId != null">namespace_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="icon != null">icon,</if>
            <if test="sortNum != null">sort_num,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="namespaceId != null">#{namespaceId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="icon != null">#{icon},</if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateNavClassify" parameterType="NavClassify">
        update nnav_classify
        <trim prefix="SET" suffixOverrides=",">
            <if test="namespaceId != null">namespace_id = #{namespaceId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNavClassifyById" parameterType="Long">
        delete from nnav_classify where id = #{id}
    </delete>

    <delete id="deleteNavClassifyByIds" parameterType="String">
        delete from nnav_classify where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>