<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.suimu.system.mapper.NavClassifyMapper">

    <resultMap type="NavClassify" id="NavClassifyResult">
        <result property="id"    column="id"    />
        <result property="label"    column="label"    />
        <result property="parentId"    column="parent_id"    />
        <result property="type"    column="type"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="share"    column="share"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectNavClassifyVo">
        select id, label, parent_id, type, sort, create_by, create_time, update_by, update_time, share, ancestors, dept_id from nav_classify
    </sql>

    <select id="selectNavClassifyList" parameterType="NavClassify" resultMap="NavClassifyResult">
        select nc.id, nc.label, nc.parent_id, nc.type, nc.sort, nc.create_by, nc.create_time, nc.update_by, nc.update_time, nc.share, nc.ancestors, nc.dept_id from nav_classify nc
        <where>
            <if test="label != null  and label != ''"> and label = #{label}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
            <if test="share != null  and share != ''"> and share = #{share}</if>
            <if test="ancestors != null  and ancestors != ''"> and ancestors = #{ancestors}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
        </where>
        <if test="deptId != null "> or ( dept_id in (#{deptId},100) and share <![CDATA[ < ]]> '3' )</if>
        order by parent_id , sort
    </select>

    <select id="selectNavClassifyById" parameterType="Long" resultMap="NavClassifyResult">
        <include refid="selectNavClassifyVo"/>
        where id = #{id}
    </select>

    <insert id="insertNavClassify" parameterType="NavClassify" useGeneratedKeys="true" keyProperty="id">
        insert into nav_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="label != null and label != ''">label,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="share != null">share,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="label != null and label != ''">#{label},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="share != null">#{share},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="deptId != null">#{deptId},</if>
        </trim>
    </insert>

    <update id="updateNavClassify" parameterType="NavClassify">
        update nav_classify
        <trim prefix="SET" suffixOverrides=",">
            <if test="label != null and label != ''">label = #{label},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="share != null">share = #{share},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNavClassifyById" parameterType="Long">
        delete from nav_classify where id = #{id}
    </delete>

    <delete id="deleteNavClassifyByIds" parameterType="String">
        delete from nav_classify where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>