<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.suimu.system.mapper.NavLinkMapper">
    
    <resultMap type="NavLink" id="NavLinkResult">
        <result property="id"    column="id"    />
        <result property="classifyId"    column="classify_id"    />
        <result property="name"    column="name"    />
        <result property="icon"    column="icon"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="intro"    column="intro"    />
    </resultMap>

    <sql id="selectNavLinkVo">
        select id, classify_id, name, icon, sort_num, intro from nnav_link
    </sql>

    <select id="selectNavLinkList" parameterType="NavLink" resultMap="NavLinkResult">
        <include refid="selectNavLinkVo"/>
        <where>  
            <if test="classifyId != null "> and classify_id = #{classifyId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="sortNum != null "> and sort_num = #{sortNum}</if>
            <if test="intro != null  and intro != ''"> and intro = #{intro}</if>
        </where>
    </select>
    
    <select id="selectNavLinkById" parameterType="Long" resultMap="NavLinkResult">
        <include refid="selectNavLinkVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNavLink" parameterType="NavLink" useGeneratedKeys="true" keyProperty="id">
        insert into nnav_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classifyId != null">classify_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="icon != null">icon,</if>
            <if test="sortNum != null">sort_num,</if>
            <if test="intro != null">intro,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classifyId != null">#{classifyId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="icon != null">#{icon},</if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="intro != null">#{intro},</if>
         </trim>
    </insert>

    <update id="updateNavLink" parameterType="NavLink">
        update nnav_link
        <trim prefix="SET" suffixOverrides=",">
            <if test="classifyId != null">classify_id = #{classifyId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="intro != null">intro = #{intro},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNavLinkById" parameterType="Long">
        delete from nnav_link where id = #{id}
    </delete>

    <delete id="deleteNavLinkByIds" parameterType="String">
        delete from nnav_link where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>